body{
    color: #434455;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a, ul {
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-top: 0; 
    margin-bottom: 0;
}
img {
    display: block;
}
.section {
    padding: 120px 0 120px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header {
    border-bottom: 1px solid #e7e9fc;  
  
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav {
    display: flex;
    align-items: center;
}
.logo-conteiner {
    margin-right: 76px;
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}
.menu {
    display: flex;
    gap: 40px;
}
.studio {
    color: #2E2F42; 
   }
.header-link {
    color: #2E2F42;
    font-weight: 500;
    padding: 24px 0; 
    display: block;

}

.header-link:last-child {
    margin: 0;

}
.header-link:hover {
    color: #404BBF;

}
.header-link:focus {
    color:  #404bbf;
    
}
.header-link:active {
    color: #404BBF;
    
}
.curent:active {
    text-decoration: underline;
    text-underline-offset: 2px;
}
.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.adress-menu {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
.address-contact {
    color: #434455;
       
}
.address-contact:hover {
    color: #404BBF;
 }
 .address-contact:focus {
    color: #404BBF;
 }
/* hero section section first*/
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;   

}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;  
   
}
.hero-button {
    color: #FFF;   
    background-color: #4D5AE5;
    border-radius: 4px;    
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
   
}

.hero-button:hover, 
.hero-button:focus {    
    background-color: #404BBF;
}

/* section second */
.specifics {
    color: #2E2F42;
    
   
}

.specifics-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
       
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.specifics-menu {
    display: flex; 
    gap: 24px;
  }
.specifics-list {
    width: calc((100% - 72px)/4);

  }
  .specifics-title {
    margin-bottom: 8px;
  }
.specifics-explanation {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
/* section third */

.our-team {
    background-color: #F4F4FD; 
   

}
.our-team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px; 
}
            
.menu-our-team {
    display: flex;
    gap: 24px;
}

.our-team-block {
    background-color: #FFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.our-team-person-container {
    padding: 32px 0;

}
.our-team-person {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-prof {
    color: #434455;    
    font-size: 16px;
    text-align: center;

}

/* section fourth */
.our-portfolio {
    color: #2E2F42;
    background-color: #FFFFFF;
     
}

.our-portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;    
}
.our-portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.our-portfolio-list {
    margin-left: 0px;
    width: calc((100% - 48px)/3);; 
}

.our-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
    
}
.our-portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;   
    font-weight: 500;    
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.our-portfolio-product {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
/* footer */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-web {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    display: inline-block; 
    margin-bottom: 16px;     
}
.logo-footer {
    color: #F4F4FD;  
}
.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}